.select {
  $select_width: 100%;
  $border_radius: 5px;

  min-width: $select_width;
  border-radius: $border_radius;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background: #F0F0F0;
  padding: 20px 20px 20px 15px;

  .selectSelected {
    width: $select_width;
  }

  ._active {
    &:after {
      transform: rotate(-135deg);
    }
  }

  &:after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    position: absolute;
    right: 15px;
    top: 20px;
    transform: rotate(45deg);
  }

  .selectDropdown {
    margin-top: 10px;
    margin-bottom: -20px;
  }

  .selectOption {
    margin-left: -15px;
    margin-right: -20px;

    padding: 10px 15px 10px 15px;

    &:hover {
      background: #45B866;
      color: white;
    }

    &:last-child {
      padding-bottom: 10px;
      border-radius: 0 0 $border_radius $border_radius;

    }
  }
}

.errorField {
  border: 1px red solid;
}

label {
  color: #B1B1B1;
  font-size: 10px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 4px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

