
/* form starting stylings ------------------------------- */
.group 			  {
  position:relative;
}

.dateInput {
  font-size:18px;
  background-color: #F0F0F0;
  width:300px;
  padding: 20px 20px 20px 15px;
  display:block;
  border:none;
  border-radius: 5px;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
.dateLabel {
  color: #B1B1B1;
  font-size:10px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:15px;
  top:4px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

